body{
  margin: 0;
  width: 100%;
  /* background-color:rgb(165, 141, 141); */
  font-family: 'Montserrat', sans-serif;
}
.container{
  /* width: 90%; */
  margin: 0 auto;
  /* padding:2em; */
  /* margin-top: 4em; */
  background-color:white;
  /* border-radius: 0.5em; */
  display:flex;
  /* position: relative; */
}
.side-bar{
  background-color:rgb(231, 161, 161);
  /* width: 20%; */
  position: relative;
}
.main{
  width: 100%;
  padding: .5em;
/* background-color: rgb(241, 177, 94); */
}





nav{
  margin-left: 4em;
  margin-right: .4em;
  /* font-size: 1.5em; */
  display:flex;
  justify-content: space-between;
  /* position:relative; */
  margin-top:.5em;
}
.logo{
  position:absolute;
  /* width: 30%; */
  /* right: 25px; */
  top:0.3%;

  /* height:50px; */
}
.side-bar img{
  width: 45px;
}
ul{
  display:flex;
  justify-content: space-between;
  gap:2em;
}

/* .hide-desktop{
  display:none;
} */




.email-details{
  /* margin-top: 1em; */
  justify-content: center;
  display: flex;
  gap:3em;
}
.email-details svg{
  margin-right: .2em;
}
.email-details a{
  text-decoration: none;
  color:black;
  margin:0;
  line-height:1em;
  font-weight: 700;
}

.menu {
  /* margin-top: */
}

.hero{
  margin-top: 3em .5em 0 .5em;
  /* text-align: center; */
  position: relative;
}
.profile-name h1 {
  font-size: 1.5rem;
  font-weight:900;
  margin: 0;
  /* font-family: ; */
}
.text-center{
  text-align: center;
}
.profile-text > img {
  width:100px;
  height:90px;
}
.intro-image{
  margin-top:2em;
}
/* .talk-wrapper > img {
  width:50px;
  height:90px;
  
} */
.profile-text h1{
  margin:0;
  font-weight:900;
  font-size: 3em;
  font:bold;
}
.profile-text h6{
  margin-top:1em;
  font-weight:700;
  font-size: .8em;
}

.profile-pic{
  margin: 0 auto;
  /* text-align: center; */
  /* border-radius: 50%; */

}
.profile-pic{
  width:300px;
  height: 250px;
  text-align: center;
  /* margin-top: 4em; */
}
.what-i-do{
  /* margin-bottom: 4em; */
  /* margin-top: .5em; */
  /* margin-bottom:4em; */
  margin: .5em .8em 4em .3em ;
  /* padding: .5em; */
}
.s-offers{
  font-size: 1.5em;
  font-weight: 500;
}
.what-i-do hr{
  width: 160px;
  margin: 0;
  left: 0;
  /* color:rgb(234, 7, 7); */
  margin-bottom: 2em;
  height: 1px;
  background-color: rgb(234, 7, 7);
  border: none;
}
.what-i-do-content{
  background: gray;
  width: 100%;/* 100% */
  /* border: .1em solid black; */
  border-radius: .4em;
  padding: .1em;
  
}
.what-i-do-text-content{
  text-align: center;
  margin-bottom: 2em;
  /* padding: .3em; */

}
.what-i-do-text-content h5{
  font-size: 1.2rem;
  font-weight:700;
}

#front-end{
  margin-bottom: 2em;
}
.cta-btn{
  background:rgb(235, 129, 129);
  padding: .8em;
  border-radius:.4em;
  color: white;
  text-decoration: none;
  /* margin-bottom: 5em; */
 

}

.readme{
 
  width: 80%;
  align-self: center;
  margin:0 auto;
  background: rgb(198, 195, 195);
  padding:2em;
  border-radius: .5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.readme-content{
  margin-top: 4em;
  /* margin-left:2em; */
  gap:.6em;
  display:flex;
  flex-direction:column;
}

.readme-content i{
  margin-right: .5em;
}
.readme-content p{
  margin:0;
  padding: 0;
}
.readme img{
  border-radius: .4em;
  margin-top:1em;
  max-width: 100%;
  /* margin-left:2em; */
}
.readme-text-content{
  /* margin-left:2em; */
}
.readme-text-content hr{
  width: 100px;
  margin: 0;
  left: 0;
  margin-bottom: 2em;
  height: 1px;
  background-color: rgb(234, 7, 7);
  border: none;
}
.work-list{
  margin: 0 auto;
  display: inline-flex;
  flex-wrap: wrap;
  /* display:flex; */
  /* flex-wrap: wrap;
  justify-content: space-between; */

}
.work-list h3{
  margin: 1em 0;
  font-weight: 600;

}
.card{
  /* width: 40%; */
  /* background-size: 150%; */
  /* border: 1px solid black; */
  /* height: 200px; */
  /* padding: 1em; */
  display: flex;
  /* align-items: end; */
  margin: 6px 0;
  /* margin-top: 1em; */
  position: relative;

}
.card1 img{
  /* background: url("https://res.cloudinary.com/dlkjbxanc/image/upload/v1681114016/zlekhzsbachtejcucsdx.png") */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 350px; */
  width: 100%;
  border-radius: .5em;

}
#card-details{
  position: absolute;
  display:flex;
  flex-direction: column;
  width: 100%;
  /* transform:800ms; */
  text-align: center;
  /* background:rgb(49, 47, 47); */
  opacity: 70%;
  /* color:white; */
  border-radius: .5em;
  /* padding: .4em; */
  bottom: 0;
  /* right: 10%;
  left: 10%; */
  background-color: black;
  color: white;
  padding-top: .5em;
  /* padding-left: .5em;
  padding-right: .5em; */
}
#card-details a{
  text-decoration:none;
  cursor: pointer;
  font-size: 1.3em;
  font-weight:400;
  color:white;
}
/* .card-details{
  display:flex;
  flex-direction: column;
  width: 97%;
  transform:800ms;
  text-align: center;
  background:rgb(49, 47, 47);
  opacity: 70%;
  color:white;
 
} */
/* .card-details a{
  text-decoration:none;
  cursor: pointer;
  font-size: 1.3em;
  font-weight:400;
  color:white;
} */
.card-details p{
margin: 0;
}
.quiz-quiz{
  /* margin:2em 0; */
  padding: .8em;
}
.quiz{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display:flex;
  flex-direction: column;
  width:100%;
  margin-top: 2em;
  /* border:1px solid black; */
  /* padding:.5em;  */
  /* gap:1em; */
  /* justify-content: space-between; */
}
.quiz p{
  margin: 0;

}
.h5-resume{
  font-weight: 500;
  font:bold;
  margin: 0 0 2em 2em;
  /* padding:2em; */
  /* text-align: center; */
  /* margin-top: 3.5em; */
  /* justify-content: center; */
  
}
.h5-resume a{
  text-decoration:none;
  cursor: pointer;
  font-size: 1.3em;
  font-weight:400;
  color:black;
  margin:0;
  padding: 1em;
  background: green;
  border-radius: .5em;
}

.footer-intro-connection{
  text-align: center;
}
.footer p{
  font-weight: 700;
  color: rgb(38, 37, 37);
}
.social-media a{
  text-decoration: none;
  color:gray;
}
.footer-link{
  display:flex;
  justify-content: center;;
}
.footer-link ul li{
  list-style-type: none;
  
}
.footer-link ul li a{
  text-decoration: none;
  font-weight: 800;
  font: bold;
  color:black;
}

/* handling nav issue */

nav > ul{
  display:flex;
  /* flex-direction: column; */
  font-weight: 700;
  margin:0;

}
nav ul li{
  margin:0;
  list-style-type: none;

}
nav ul li a{
  text-decoration: none;
  color:black;
}
/* nav ul li p{
  margin:0;
  line-height:1em;
} */


/* media querries below 765px */
@media only screen and (max-width: 765px) {
  .main{
    background-color: rgb(42, 114, 138);
  }
  .hide-mobile{
    display:none;
  }
  .footer-nav{
    text-align: center;
  }
  
}

@media only screen and (max-width: 380px) {
  .talk-wrapper{
    /* margin-top: 2em; */
    text-align: center;
  }
 
}





/* media querries 412px */
 @media only screen and (min-width: 768px){ 
  .side-bar{
    background: green;
    width: 15%;
    text-align: center;
    position: relative;
  }
  .logo{
    position: relative;
  }
  .main{
    background:blue;
    padding: 2em;
    -webkit-box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.75);
    /* position: relative; */
    /* margin-bottom:6em; */

  }
  .hide-desktop{
    display:none;
  }
  nav{
    margin:0 2em 0 2em;
  }

  .hero{
    display:flex;
  }
  .hero-part-1{
    max-width:45%;
    margin: 3em .5em 0 .5em;
    text-align: left;
  }
  .text-center{
    text-align: left;
  }
  .intro-image{
    margin-left: 1em;
  }
 
  .profile-name h1 {
    font-size: 3.052rem;
    font-weight:900;
    margin: 0;
    /* font-family: ; */
  }
   
  .hero-part-1 h6{
    font-size: 1rem;
    margin: 0;
  }
  .talk-wrapper{
    margin-top: 2em;
    text-align: center;
  }
  .social-media-part{
    position: absolute;
    display:flex;
    gap:2em;
    flex-direction: column;
    top:10%;
    margin-left: 2em;

  }
  .social-media-part i{
    font-size: 2em;
  }

  .profile-pic{
    text-align: left;
    padding:1em;
    margin: 0;
  }
  .profile-pic img{
    width:350px;
    margin-top: 8em;
  }
  .what-i-do h1{
    font-size: 2rem;
    font-weight:bold;

  }
  .what-i-do-text-content{
    padding: 0 1.5em 0 1.5em;

  }
  .what-i-do-text-content p{
    font-size: 1rem;
  }
   .gif-content{
    display:none;
  }

  .readme-part-1{
    display:flex;
  }
  .readme img{
    width: 300px;
  }
  .readme-content{
    margin-left:.5em;
  }
  .readme-text-content h4{
     font-size: 1rem;
     font-weight: 600;
     text-transform: uppercase;
  }
  .my-works h1{
    font-size: 2rem;
    font-weight: 700;
  }

  .my-works p{
    text-transform:capitalize;
    font-size: 1.5rem;
  }
  .my-works h3{
    text-transform:capitalize;
    font-size: 1.5rem;
    font-weight: 700;

  }
  .work-list{
    justify-content: space-between;
  }
  .card{
    width:49%;
    /* margin: 0; */

  }
  #card-details{
    padding: 0;

  }
  #card-details a{
    font-size:1.2em
  }
  #card-details p{
    font-size:1.2em;
    margin:0;
  }
  .quiz{
    margin-top:2em;
    flex-direction: row;
  }
  .quiz-quiz{
    font-size: 1rem;
    width: 50%;
  }
  .h5-resume{
    margin-top:4em;
  }
  .footer-intro-connection{
    margin-top:4em;
  }
 .footer-nav{
  display:flex;
  justify-content:space-between;
 }
 .footer-logo{
  width: 50px;
 }
 /* .my-works{
   border:1px solid green;
 } */
 /* .footer-nav{
  position: absolute;
  bottom:0;
  text-align: center;
 }
  */
 
 

  /* .nav-links{
    display:flex;
    flex-direction:row;
    background-color :white;
  } */
  /* .card{
    margin-top: 3em; 
  }
  .hero{
    margin: 0 auto;
    display:relative;
  }
  .talk-wrapper{
    margin-left: 0;
    display: absolute; 
    left:70%;
    top: 50%;
    margin-top: -25px;
  } */
} 
/* media querries 650px */
/* @media only screen and (min-width: 650px){
  .main{
    background:green;

  }
  .card{
    margin-top: 3em; 
  }
} */










*{
  border:1px solid green;
} 



